<div class="row" style="height: 40px;">
    <img src="./../public/imgs/default.jpg" alt="<%= user.name %>">
    <div style="text-align: center; height: 40%; border-radius: 10px;">
        <h3><%= user.name %> </h3>
    </div>
</div>