<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About me</title>
</head>
<body>
    <div>
        <section>

        </section>
        <section>
            <img src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.pinterest.com%2Fprincessamo321%2Fdefault-profile-pictures%2F&psig=AOvVaw1xEAwSAdO7LvAasXjUfzSC&ust=1634635182595000&source=images&cd=vfe&ved=0CAsQjRxqFwoTCMCfhd_Q0_MCFQAAAAAdAAAAABAD" alt="your pic">
            <input type="file">
        </section>
    </div>
</body>
</html> 