body{
    padding: 4% 4% 0 4%;
    font-family: 'Open Sans', sans-serif;
    background-color: rgb(252, 240, 240);
}
#top-section{
    /* border:1px solid red; */
    background-color: #CB9CF2;
    padding: 5px;
    height: 30px;
    display: flex;
}
.chat-room{
    width: 15%;
    align-self: center;
    padding-right: 10px;
}
.search-global{
    width: 60%;
    margin: auto;
}
#serach-friends{
    width: 53%;
    position: absolute;
    margin-left: 15%;
    margin-right: 20%;
    top: 14%;
    z-index: 1;
    /* height: 50px; */
    max-height: 200px;
    overflow-y: scroll;
    background-color: gray;
}
img.searched-user{
    width: 30px;
    height: 30px;
    border-radius: 50px;
}
@media screen and (min-width:720px) {
    #serach-friends{
        top:16%
    }
}
.urls{
    font-size: 18px;
    width: 25%;
    padding-left:auto;
    text-align: end;
}
a{
    text-decoration: none;
    padding: 10px;
    align-self: center;
}
/* friends collection */
.row{
    display: flex;
}
#friends-section{
    padding: 5px;
    margin-top: 10px;
    width: 30%;
    height: 30rem;
    /* border: 1px solid red; */
    background-color: rgb(217, 236, 208);
    /* background-color: #616283; */
    overflow-y: scroll;
}
#friends-section>div:hover{
    color: rgb(27, 24, 24);
}
img{
    border-radius: 50px;
}
#friends-section::-webkit-scrollbar,#message-section::-webkit-scrollbar,#serach-friends::-webkit-scrollbar{
    width: 10px;
}
#friends-section::-webkit-scrollbar-thumb,#message-section::-webkit-scrollbar-thumb,#serach-friends::-webkit-scrollbar-thumb{
    background-color: rgb(171, 179, 177);
    border-radius: 50px;
}
#friends-section::-webkit-scrollbar-thumb:hover,#message-section::-webkit-scrollbar-thumb:hover,#serach-friends::-webkit-scrollbar-thumb:hover{
    background-color: rgb(100, 104, 103);

}
#message-section{
    display: block;
}
#message-section,#message-section-hider{
    margin-top: 10px;
    margin-left: 10px;
    width: 70%;
    height: 30rem;
    /* border: 1px solid red; */
    background-color: rgb(228, 217, 228);
    overflow-y:scroll;
}
#friend-name-section{
    width: 90%;
    height: 30px;
    margin:10px auto;
    border-radius: 5px;
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 10px;
    background-color: white;
}
.main-search-list {
    position: sticky;
    z-index: 5;
}
h4#your-friend{
    margin: 3px 0 0 5px;
    align-self: center;
}
#message-section-footer{
    margin: auto;
    position: fixed;
    bottom: 20px;
    width: 60%;
}
#message-section-footer>input{
    min-width:70%;
    width: 85%;
    height: 20px;
    border-radius: 7px;
}
#logOut,#aboutMe,#friendRequests{
    margin: 2px;
    display: inline;
}
.burger{
    display: none;
}
@media screen and (max-width:1100px) {
    .url-content{
        display: none;
    }
    .burger{
        position: relative;
        z-index: 3;
        cursor: pointer;
        display: block;
        margin-left: 80% ;
        margin-top: 12px;
        /* width: 30px;
        height: 10px; */
        /* background-color: white; */
    }
    .bg1,.bg2,.bg3{
        width: 20px;
        height: 2px;
        display: block;
        margin-bottom: 2px;
        background-color: white;
        transition: transform 0.4s ease-in-out;
    }
    
}

.clicked>.burger>.bg1{
    margin-bottom: -2px;
    transform: rotate(-45deg);
}
.clicked>.burger>.bg2{
    display: none;
}
.clicked>.burger>.bg3{
    transform: rotate(45deg);
}
.clicked>.url-content{
    position: relative;
    z-index: 2;
    text-align: center;
    margin-left: 5px;
    padding-top: 30px;
    padding-bottom: 5px;
    background-color: rgba(207, 206, 207, 0.507);
    position: relative;
    top: -18px;
    display: block;
}
.clicked>.url-content>div#logOut,.clicked>.url-content>div#aboutMe{
    z-index: 2;
    display: block;
}
.back-pointer{
    align-self: center; 
    padding: 3px; 
    color: rgb(20, 20, 20); 
    cursor: pointer; 
    font-size: large; 
    display: none;
}
@media screen and (max-width:480px) {
    .burger{
        left: -15px;
    }
    #friends-section{
        height: 80vh;
    }
    #message-section-hider{
        display: none;
    }
    #friends-section{
        width: 100%;
    }
    .show-conversation#message-section{
        display: block;
        width: 100%;
    }
    #message-section{
        height: 85vh;
    }
    .hide-friends-area{
        display: none;
    }
    #message-section-footer{
        width: 100%;
        display: flex;
    }
    #message-section-footer>input{
        width: 70%;
    }
    .back-pointer{
        display: block;
    }

}
.hide-conversation#message-section{
    display: none;
    width: 0%;
}
.show-friends-area{
    display: block;
    width: 100%;
}
.noOfRequests{
    border-radius: 50px;
    width: 20px;
    height: 25px;
    background-color: rgb(180, 253, 106);
    position: relative;
    display: inline-block;
    left: -4px;
    text-align: center;
}
#unreadMsgs{
    background-color: rgb(36, 221, 36);
    border-radius: 50px;
    position: relative;
    left: -1px;
}
.loading-bar{
    position: absolute;
    /* top:20px; */
    width: 0;
    height: 2px;
    background-color: blue;
}
.loading{
    width: calc(var(--width,0) * 1%);
    background-color: red;
}

